In [1]:
import numpy as np
import pandas as pd

In [25]:
dep_df= pd.read_csv("/Users/yangdan/Desktop/insight/deps_out.csv",names=['id','package1','version',])

In [26]:
dep_df

,8737,197,0.1.0,a4g:client,Dub,runtime,false,*,Unnamed: 8
0,8738,197,0.1.0,a4g:server,Dub,runtime,False,*,NaN
1,8743,199,1.0.0,openssl,Dub,runtime,False,>=1.1.3+1.0.1g,493.0
2,8744,199,1.0.1,openssl,Dub,runtime,True,>=1.1.3+1.0.1g,493.0
3,8752,203,0.2.4,anchovy:core,Dub,runtime,False,~master,NaN
4,8753,203,0.2.4,anchovy:graphics,Dub,runtime,False,~master,NaN
...,...,...,...,...,...,...,...,...,...
13527,8732,996,0.1.2,httpotion,Hex,runtime,False,~> 0.2.4,820.0
13528,8729,996,0.1.3,jazz,Hex,runtime,False,~> 0.2.0,831.0
13529,8730,996,0.1.3,httpotion,Hex,runtime,False,~> 0.2.4,820.0
13530,6442121,996,1.0.1,poison,Hex,runtime,False,~> 1.4.0,909.0
13531,6442122,996,1.0.1,httpotion,Hex,runtime,False,~> 1.0.0,820.0

In [18]:
proj_df= pd.read_csv("/Users/yangdan/Desktop/insight/packages_out.csv")

In [43]:
proj_df[9000:]

        id platform                        name  repository_id
9000  9254    bower                  discuss.js            NaN
9001  9255    bower                    dispatch            NaN
9002  9256    bower                  dispatcher        17203.0
9003  9257    bower                dispatcherjs            NaN
9004  9258    bower             dispatch-pubsub            NaN
...    ...      ...                         ...            ...
9718  9995    bower             ember-list-view        17766.0
9719  9996    bower                ember-loader            NaN
9720  9997    bower          ember-load-helpers        17856.0
9721  9998    bower   ember-localforage-adapter            NaN
9722  9999    bower  ember-localstorage-adapter            NaN

[723 rows x 4 columns]

In [20]:
repo_df= pd.read_csv("/Users/yangdan/Desktop/insight/repos_out.csv")

In [23]:
repo_df

          id                                       url issues watchers
0         24                                       NaN      2       66
1         24                                       NaN      2       66
2        103                                       NaN      0        9
3        103                                       NaN      0        9
4        240                                       NaN      0        9
...      ...                                       ...    ...      ...
4436   17432                                       NaN      0        6
4437   17649                                       NaN      0        1
4438   17696                                       NaN      1        1
4439   33117  http://projects.parsnip.io/scroll-depth/     11       54
4440  856861                                       NaN      0        9

[4441 rows x 4 columns]

## Repo

In [ ]:
df= pd.read_csv("/Users/yangdan/Downloads/repositories.csv",skiprows= 1,usecols=[0,8,17,19],names=['id','url','issues','watchers'])

In [37]:
url_cleaned=df["url"].replace("\'",'').replace("\"",'')

In [38]:
df["url"]= url_cleaned

In [39]:
df.iloc[:10,:]

   id                                                url  issues  watchers
0   4    http://zonuexe.github.io/aozora-ruby-parser.js/     2.0       1.0
1   5  http://rawgit.com/immense/knockout-pickatime/m...     0.0       2.0
2   6  http://rawgit.com/immense/knockout-pickadate/m...     3.0       4.0
3   7                                                NaN     0.0      14.0
4   8          http://github.com/spoike/knockout.persist     0.0       1.0
5   9                                                NaN    16.0     185.0
6  10                                                NaN     0.0       2.0
7  11                                                NaN     1.0       2.0
8  12                                                NaN     0.0       0.0
9  13                                                NaN     0.0       4.0

In [44]:
df.to_csv("/Users/yangdan/Desktop/insight/repository_cleaned.csv")

In [41]:
df

,id,url,issues,watchers
0,4,http://zonuexe.github.io/aozora-ruby-parser.js/,2.0,1.0
1,5,http://rawgit.com/immense/knockout-pickatime/m...,0.0,2.0
2,6,http://rawgit.com/immense/knockout-pickadate/m...,3.0,4.0
3,7,NaN,0.0,14.0
4,8,http://github.com/spoike/knockout.persist,0.0,1.0
...,...,...,...,...
37702052,41258039,NaN,0.0,1.0
37702053,41258040,NaN,0.0,2.0
37702054,41258041,NaN,0.0,1.0
37702055,41258042,NaN,0.0,1.0
37702056,41258043,NaN,0.0,1.0

## Depdency

In [4]:
dep_df= pd.read_csv("/Users/yangdan/Downloads/dependencies1.csv",skiprows=1,usecols=[0,3,4,6,7,8,9,10,11],names=['id','package1','version','name','platform','kind','optional','requirement','package2'])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
dep_df.columns=['id','package1','version','name','platform','kind','optional','requirement','package2']

In [8]:
dep_df=dep_df[~dep_df['optional'].isin([True])]

In [9]:
dep_df

,id,package1,version,name,platform,kind,optional,requirement,package2
0,8737,197,0.1.0,a4g:client,Dub,runtime,False,*,NaN
1,8738,197,0.1.0,a4g:server,Dub,runtime,False,*,NaN
2,8743,199,1.0.0,openssl,Dub,runtime,False,>=1.1.3+1.0.1g,493.0
4,8752,203,0.2.4,anchovy:core,Dub,runtime,False,~master,NaN
5,8753,203,0.2.4,anchovy:graphics,Dub,runtime,False,~master,NaN
...,...,...,...,...,...,...,...,...,...
190388557,192302198,4790798,0.0.1-beta.1,lodash-es,NPM,runtime,False,^4.17.15,167122.0
190388558,192302197,4790798,0.0.1-beta.1,jh-utils,NPM,runtime,False,^0.0.1-beta.2,4790697.0
190388559,192302196,4790798,0.0.1-beta.1,classnames,NPM,runtime,False,^2.2.6,135853.0
190388560,192302195,4790798,0.0.1-beta.1,antd,NPM,runtime,False,^3.26.3,844273.0
190388561,192302194,4790798,0.0.1-beta.1,@babel/runtime,NPM,runtime,False,^7.7.7,2512978.0

In [ ]:
dep_sub=dep_df[['id','name','kind','optional','requirement']]

In [18]:
dep_sub.iloc[:50000000,[0,1,2,4]]

                id                 name         kind     requirement
0             8737           a4g:client      runtime               *
1             8738           a4g:server      runtime               *
2             8743              openssl      runtime  >=1.1.3+1.0.1g
4             8752         anchovy:core      runtime         ~master
5             8753     anchovy:graphics      runtime         ~master
...            ...                  ...          ...             ...
50026299  62642925             rc-steps      runtime          ~2.5.1
50026300  62642970         @types/react  Development         ~16.0.2
50026301  62642972     @types/react-dom  Development          15.5.1
50026302  62642973  @types/react-native  Development         ^0.47.2
50026303  62642975                 antd  Development             2.x

[50000000 rows x 4 columns]

In [19]:
dep_sub.iloc[:50000000,[0,1,2,4]].to_csv("/Users/yangdan/Desktop/insight/dependency_cleaned1.csv")

In [21]:
dep_sub.iloc[50000000:100000000,[0,1,2,4]].to_csv("/Users/yangdan/Desktop/insight/dependency_cleaned2.csv")

In [22]:
dep_sub.iloc[100000000:,[0,1,2,4]].to_csv("/Users/yangdan/Desktop/insight/dependency_cleaned3.csv")

## Relationship(for dependency)

In [10]:
dep_pltform=dep_df[['id','platform']]

In [11]:
dep_pltform

                  id platform
0               8737      Dub
1               8738      Dub
2               8743      Dub
4               8752      Dub
5               8753      Dub
...              ...      ...
190388557  192302198      NPM
190388558  192302197      NPM
190388559  192302196      NPM
190388560  192302195      NPM
190388561  192302194      NPM

[190301103 rows x 2 columns]

In [12]:
has_dep = dep_df[['id','package1','version']]

In [13]:
has_dep

                  id  package1       version
0               8737       197         0.1.0
1               8738       197         0.1.0
2               8743       199         1.0.0
4               8752       203         0.2.4
5               8753       203         0.2.4
...              ...       ...           ...
190388557  192302198   4790798  0.0.1-beta.1
190388558  192302197   4790798  0.0.1-beta.1
190388559  192302196   4790798  0.0.1-beta.1
190388560  192302195   4790798  0.0.1-beta.1
190388561  192302194   4790798  0.0.1-beta.1

[190301103 rows x 3 columns]

In [14]:
belongs_to = dep_df[['id','package2']]

In [16]:
belongs_to = belongs_to.dropna()

In [17]:
belongs_to

                  id   package2
2               8743      493.0
24              8772      288.0
25              8773      346.0
26              8774      287.0
27              8775      290.0
...              ...        ...
190388557  192302198   167122.0
190388558  192302197  4790697.0
190388559  192302196   135853.0
190388560  192302195   844273.0
190388561  192302194  2512978.0

[187812829 rows x 2 columns]

## Has_manager(for package)

In [3]:
package_df= pd.read_csv("/Users/yangdan/Desktop/insight/project_cleaned.csv",usecols=[0,1],names=['id','platform'])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
package_df

              id  platform
0             id  platform
1              1  alcatraz
2              2  alcatraz
3              3  alcatraz
4              4  alcatraz
...          ...       ...
1179677  1243497        go
1179678  1243498        go
1179679  1243499        go
1179680  1243500        go
1179681  1243501        go

[1179682 rows x 2 columns]

In [4]:
package_df.to_csv("/Users/yangdan/Desktop/insight/has_manager.csv")